@charset "UTF-8";

@media all {
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    html, body {
        width: 100vw;
        height: 100vh;
        background-color: #13229b;
        background-size: contain;
    }
    h1 {
        color: white;
        text-shadow: 2px 2px 0px #0c1877;
        padding: 10px;
    }
}
/*Delcaração Retrato*/
@media screen and (orientation: portrait) {
    body {
        background: url(../images/cev-portrait.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}
/*Retrato paisagem*/
@media screen and (orientation: landscape) {
    body {
        background: url(../images/cev-landscape.jpg);
        background-position: left bottom;
        background-repeat: no-repeat;
    }
}